html {
    background-color: black;
    color: white;
    font-family: Ubuntu, sans-serif;
    box-sizing: border-box;
}

body {
    border: none;
    margin: 10px;
    padding: 10px;
    background-color: black;
}

header {
    background-color: white;
}





.topnav {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
        /*text-align: center;
  float:center;*/
        /*float:center;*/
        /*padding: 32px;*/
    
    overflow: hidden;
    width: 100%;
    /*text-align: center;*/
    
}

.topnav div {
    color: red;
}

.topnav a {
    color: white;
}

.topnav a:hover {
    color: #FFEE58;
}

/* Add an active class to highlight the current page */
.topnav a:active {
    background-color: #673AB7;
    /*color: white;*/
}



.topnav .icon {
    display: none;
}


a {
    color: blue;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {

    .topnav div {
        display: none;
    }

    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        display: block;
        float: right;
    }
}


@media screen and (max-width: 600px) {
    .topnav.responsive {
        justify-content: center;
        position: relative;
        flex-direction: column;
    }

    nav div {
        display: none;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        display: block;
        float: none;
        text-align: left;
    }

    .topnav.responsive div {
        display: block;
        float: none;
        text-align: left;
    }
}

/*.carousel_slide{
    background-color: black;
    width: 800px;
}*/

div {
    background-color: black;
}

.carousel-inner {
    /*height: 400px;*/
    margin: 0 auto;
    /*max-height: 400px;*/
    max-width: 800px;
    background-color: black;
    color: black;
}



.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}










@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1.0);
  }
}
header {
  animation-duration: 1s;
  animation-name: bounceIn;
}


@keyframes bounceIn2 {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.5);
    opacity: 1;
  }
  80% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1.0);
  }
}


nav div {
  animation-duration: 1s;
  animation-name: bounceIn2;
}




@keyframes zoom {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }


  100% {
    transform: scale(1.0);
  }
}

div a img {
    animation-duration: 1s;
    animation-name:zoom;
}

.carouselExampleControls{
    animation-duration: 1s;
    animation-name:zoom;
}


section{
    background-color: black;
    color: white;
}
form {
    background-color: black;
    color: white;
}


button {
    background-color: black;
    color: #ff1744;
}

.center_div {
    text-align: center;
}

.wrapper{
    text-align: center;
}



aside {
    float: right;
    margin: -10 50.5%;
}